[Unit]
Description=Node Exporter
Documentation=https://prometheus.io/docs/guides/node-exporter/
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
Restart=on-failure
ExecStart=/opt/{{node_exporter_dir}}/node_exporter --collector.systemd

[Install]
WantedBy=multi-user.target